# Folder
/*/

# OS Specific File
/.DS_Store
/Thumbs.db

# Markdown
/*.md
!/README.md
!/README_CHS.md

# PowerShell Script
/*.ps1
!/Invoke-ElevatedCommand.ps1

# Batch File
/*.bat
/*.cmd

# Configuration
/*.ini
/*.config

# XML
/*.xml

# Text
/*.txt
/*.doc
/*.docx
